.excalidraw-viewer .App-toolbar-content {
  display: none !important;
}

#editor, .excalidraw {
  height: 100%;
  width: 100%;
}

.button {
  zIndex: 1000;
  color: var(--button-color, var(--color-on-surface));
  backgroundColor: var(--color-surface-low);
  border: none;
  borderRadius: .5rem;
  padding: 4px 8px;
  cursor: pointer;
}
